# Environment variables
.env

# Virtual environment
.venv/
venv/

# Python
__pycache__/
*.py[cod]
.pytest_cache/

# VS Code
.vscode/

# macOS
.DS_Store

# Coverage
.coverage
htmlcov/

# Logs
*.log

# Environment files
.env.*